[2015-06-07 11:33] oieduardorabelo opened #1 "FAQ - Testando components"
@daviferreira :tada:

achei massa você testar o component em si, e não só a integração (Stores/Actions etc),

https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItemTest.jsx#L16-l51

vi muita gente dizendo que testar o componente em sí, não é muito viável (até relacionaram com teste end-2-end),

cheguei a trocar uma idéia com o Dan Abramov e até vi alguns argumentos do Ryan Flo

[2015-06-09 07:30] daviferreira commented on #1
Fala Eduardo,

cara, na verdade um dos objetivos desse projetinho era justamente testar mocha com jsdom porque eu to cansado de karma+phantom (demora 30 secs pra dar start nos testes em um projeto grande...).

Minha opinião é bem parecida com a sua. Já tentei usar JEST e a documentação é muito ruim e tinha coisas básicas na época como não dar suporte a NODE_PATH etc. Atualmente uso sempre karma +

[2015-06-09 18:59] #1 closed

[2015-08-17 07:00] daviferreira opened #2 "Better docs"
- how to use as a module
- how to use on browser
- options

etc.

[2015-09-15 16:46] mpbill opened #4 "webpack error"
when webpack tries to run on any files where i have required('react-sanfona') i get the following errors:
ERROR in /home/mpbill/NodeTest/~/react-sanfona/dist-modules/AccordionItem/index.js
Module not found: Error: Cannot resolve module 'classnames' in /home/mpbill/NodeTest/node_modules/react-sanfona/dist-modules/AccordionItem
 @ /home/mpbill/NodeTest/~/react-sanfona/dist-modules/AccordionItem/inde

[2015-09-16 12:29] #4 closed

[2015-09-16 12:30] daviferreira commented on #4
Should be fine now with 0.0.3, added `classnames` as dependency. Let me know if you still get it!

[2015-09-28 08:57] bogdan-soare commented on #4
Hi @daviferreira ,

I also get the error `Module not found: Error: Cannot resolve module 'uuid' in /Users/bogdan.soare/Sites/mylocalmcds/hq-admin/node_modules/react-sanfona/dist-modules/AccordionItem
 @ ./~/react-sanfona/dist-modules/AccordionItem/index.js 21:12-27` . I have version 0.0.3.
I think you should add `uuid` as a dependency also.
Thanks.

[2015-09-28 09:10] daviferreira commented on #4
Done :)

[2015-09-28 09:11] daviferreira commented on #4
https://github.com/daviferreira/react-sanfona/commit/8710714001b42c50ddd5c6fa8519b0bc20e9c950

Thanks! :)

[2015-09-28 12:21] bogdan-soare commented on #4
Awesome, thanks :)

[2015-10-26 22:52] monkecheese opened #33 "Render Open Accordion"
Is there a way (using props or something else) to set the Accordion so that all Accordion Items are showing open on page load?  I see that there is a way to select a certain Item to render open on page load using the prop "selectedIndex", but that's not quite what I'm looking for.  I need them to be all "open" when the page loads.  Thanks in advance!

[2015-11-05 12:20] #33 closed

[2015-11-05 12:45] daviferreira commented on #33
@monkecheese can you try with the latest version? I have removed `selectedIndex` prop. Now you should just use `activeItems` and pass an array.

[code]

[2015-11-05 19:23] monkecheese commented on #33
Very nice!  Works beautifully.

[2015-11-05 20:34] monkecheese opened #51 "Only one accordion item at a time"
When you implemented the new feature to allow for all items to be expanded on initial render, I think it broke your first example in your demo (which should constrain the accordion to only show one accordion item at a time, right?).  Now, it behaves in the same way as your "Allow Multiple" example.

This is quickly becoming the best react accordion component imo.  Keep it up!

[2015-11-06 06:46] #51 closed

[2015-12-07 18:46] mdtanrikulu commented on #2
you can add ES6 Usage as,

[code]

[2015-12-14 08:02] calebcassel opened #52 "Peer dependencies broken"
I think this needs to be republished to NPM. The `package.json` I'm getting back after `npm install` has react and react-dom set to version `0.14.0`, while the source on Github has it at `^0.14.2`. This is preventing me from being able to try out your project since I have React 0.14.3, and the peer dependencies aren't being fulfilled.

[2015-12-14 09:15] daviferreira commented on #52
Done, `0.0.8` is out. Thanks, forgot about it!

[2015-12-14 09:15] #52 closed

[2015-12-14 09:30] calebcassel commented on #52
Thanks! Everything is looking great so far.

[2015-12-18 21:44] dandonahoe commented on #2
Or better yet, just leave needless complexity out of the examples in general like this
[code]

[2016-02-03 18:33] iswanj opened #54 "Add custom class and style support"
eg:-
[code]

[2016-02-18 10:11] snakeyak commented on #54
+1

[2016-02-23 16:12] snakeyak opened #55 "max-height causing problems"
the max-height property on react-sanfona-item-body class is causing major problems in case anything needs to be expanded within the sanfona item body, or in case the browser window changes size and the body needs to accommodate for it, causing it to overflow.

[2016-03-04 13:58] #55 closed

[2016-03-04 13:58] #54 closed

[2016-03-06 23:40] iam-peekay opened #58 "separating AccordianItem from Accordian doesn't work"
When I try to put the AccordianItem component separate from the Accordian component, the AccordianItem doesn't expand. For example, my render function of the AccordianItem is defined as:

[code]
and then my Accordian is defined as:
[code]

When I do this, only the title of each AccordianItem shows up, but if I try to expand the item, it doesn't expand.

However, if I put the Accordian and Accordia

[2016-03-23 20:52] 6ewis commented on #58
@iam-peekay I haven't used it ever but try to write this instead:
[code]

[2016-04-19 08:29] kachkaev opened #61 "Update to react v15.0"
See https://facebook.github.io/react/index.html

After upgrading to react@15.0.1 npm starts complaining:
[code]

Patch example: https://github.com/STRML/react-grid-layout/commit/ef335bcc11652df0ff7cd649d9bc265acf339faf
(not submitting a PR since I don't know whether it is just about changing a version or there should be some modifications in the code too)

[2016-04-23 17:25] kachkaev opened #63 "Improve import in JavaScript ES6"
When using ES6, it is required to write two lines of code to import the React components:
[code]
It would be nice if this could be done in a more standard way, like this:
[code]

E.g. like in [`react-grid-layout`](https://github.com/STRML/react-grid-layout).

[2016-04-23 19:45] kachkaev opened #64 "onActiveItemsChange"
It would be really useful to add an event handler that would trigger when a set of active items has changed. I was going to use it to save the state of the accordion to my global state objects so that the clients that are looking at the same page could always be in sync.

Could you please add this feature? There should not be much to write.

[2016-04-27 03:15] psimyn commented on #63
Are you using babel or plain ES6?

One line way seems to work for me:

[code]

[2016-04-27 09:15] kachkaev commented on #63
I'm trying to run this in Meteor 1.3, which must be using es6 + babel.

[code]

[2016-04-27 11:38] psimyn commented on #63
I think this is because `src/index.js` is using export.default - adding `export { Accordion, AccordionItem }` should work, I will confirm it doesn't break stuff

thanks for the examples

[2016-04-27 12:04] psimyn commented on #61
I think if since there's no warnings it shouldn't need any changes -  `|| ^15.0.0` to peer deps and should be good to go

[2016-04-30 05:04] #61 closed

[2016-04-30 05:05] daviferreira commented on #63
@psimyn Hey Simon, could you drop me an e-mail at hi@daviferreira.com?

[2016-05-01 22:05] psimyn commented on #64
I am thinking onChange handler, just need to think of good place to put it

Would you want anything other than newState passed to it?

[2016-05-02 11:46] psimyn opened #65 "allowMultiple=false doesn't prevent array of activeItems"
Probably similar to #51

Example:

[code]

- When the page first loads then 0, 1, 2 are expanded
- Click item 1 it will close and others (multiple) will remain open
- Click item 1 again it will re-open, and _then_ the others will close

Possible solutions:

 - warn/error if passing an array when allowMultiple is false
 - grab the first entry, ignore rest of array
 - don't worry about it this isn't

[2016-05-02 11:58] psimyn opened #66 "allow setting activeItems by title"
a) allow either index or title. Simple, but could mean an item called '0' and one with index 0 both selected
b) prop for activeItems to use index or title
c) convert activeItems to list of objects

[2016-05-02 13:17] psimyn commented on #64
@kachkaev see if that PR works for you

[2016-05-03 08:06] kachkaev commented on #64
Hi @psimyn. Thanks for responding and for the PR!

I'm not sure I will be able to check the PR inside my project in the next couple of weeks — could anyone else have a look at it please? The code seems OK — I haven't spotted anything suspicious.

[2016-05-03 09:35] psimyn commented on #64
Definitely nothing suspicious :) I'll confirm it can do what you were after then will probably merge

[2016-05-03 10:22] #64 closed

[2016-05-03 11:55] psimyn opened #70 "npm install includes dist and demos"
I think `.npmignore` needs the contents of `.gitignore` + other folders

[2016-05-04 03:03] psimyn opened #71 "setting AccordionItem height ignores margin"
I think due to using scrollHeight

demo of differences [here](http://jsfiddle.net/shibualexis/yVhgM/3/)

[2016-05-05 05:24] #63 closed

[2016-05-06 16:35] hozefaj opened #72 "component throwing exception"
Render method throws the below error.

`Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of `t`.`

To test it out I am running the exact same code from the docs and still see the issue.

Some investigation revels, that
`import { Accordion, AccordionItem } from 'react-

[2016-05-07 05:45] psimyn commented on #72
This should be fixed by #63 - I will get npm version updated later today. This will mean your current working example __won't__ work anymore (since default export was removed).

You can use any of these though
[code]

Thanks for reporting!

[2016-05-08 13:08] #66 closed

[2016-05-08 13:08] psimyn commented on #65
fixed with #74

[2016-05-08 13:08] #65 closed

[2016-05-08 13:12] #70 closed

[2016-05-08 13:33] psimyn commented on #72
@hozefaj I've just published v0.0.12. Please re-open if it's still not working after installing latest version

thanks

[2016-05-08 13:33] #72 closed

[2016-05-10 13:02] psimyn commented on #71
think this was actually fixed by #75

[2016-05-10 13:02] #71 closed

[2016-05-10 13:24] psimyn commented on #58
@iam-peekay you are missing `{...this.props} ` from the AccordionItem. Accordion adds an `onClick` prop to each item, so you need to pass those props as well as the ones you specify

Changed:
[code]

[2016-06-03 18:11] reyhansofian opened #77 "Event onClick on Each AccordionItem?"
Is there a way to add an onClick event on each AccordionItem? I need to dispatch an action every time user click the AccordionItem. I've tried to add onClick event directly to the AccordionItem, but it doesn't work. This is what I've tried so far

[code]

[2016-06-04 03:56] psimyn commented on #77
Good find! it currently gets eaten by the Accordion (since it's used to trigger the open/close of that item).

There is the `onChange` handler that gets triggered when you change anything (clicking any item) that gets an array of activeItems.

If you wanted to set an onClick on an AccordionItem, would you want it to override the existing one, or be called before/after it?

[2016-06-04 04:08] #58 closed

[2016-06-04 04:11] psimyn commented on #58
I pushed a probable fix to master - will get a 0.0.14 release out later today. Please re-open if still having the issue

[2016-06-04 04:21] reyhansofian commented on #77
I've read the `onChange` handler, unfortunately it doesn't suit my needs. Regarding `onClick` handler, I prefer to override the existing one since I need more freedom to the `onClick` handler

[2016-06-04 04:49] psimyn commented on #77
yeah, I think onChange needs a bit of thinking (was added for a pretty specific case).

Only problem with overriding the `onChange` is you would still need to call `setState` on the Accordion - it currently only uses activeItems props for initialisation (which is probably actually a bug).

If you were to override onChange, then the Accordion state would need to be completely handled outside of it

[2016-06-04 06:38] reyhansofian commented on #77
sure! I'll give it a shot. Btw, your depencies is out of date.

[code]

[2016-06-04 06:53] reyhansofian commented on #77
@psimyn it's perfect! I can use this for sure

[2016-06-04 06:56] psimyn commented on #77
cool, I'll need to give that a little cleanup to allow for self-handled or externally handled, but should get something up today. Will at least push a branch for some more testing

Will also bump the deps :)

[2016-06-04 06:57] reyhansofian commented on #77
cool, thanks a lot! 👍

[2016-06-05 06:45] psimyn commented on #77
Got PR #78 if you'd like to have a try. Accordion exports `updateItems` function in case you want similar/same behaviour for the activeItems update.

I want to have a bit more of a think before merging this one, but this should get you started

@daviferreira any ideas/feedback?

[2016-06-07 05:42] reyhansofian commented on #77
@psimyn great works! thanks a lot

[2016-06-07 05:42] #77 closed

[2016-06-07 07:25] fabarea opened #79 "Make heading configurable in AccodionTitleItem"
Would be nice to have the ```<h3>``` configurable in https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItemTitle/index.jsx#L16. It does not necessary suit the rest of the markup semantic in the application.

Thanks for your nice module! :)

[2016-06-07 08:39] psimyn commented on #79
I've found this as well, and have decorated the title with pseudo elements. I'll try updating so it can take a string or a Component, there may be a few gotchas if passing a component for title though (it would override onclick and a few other props)

Do you have an example that you'd want to use so I can use it to test?

Thanks!

[2016-06-07 10:05] fabarea commented on #79
Nothing I could more precisely point out. It should appear more or less as a Bootstrap Accordion for my case... I work around by adjusting the style for ".react-sanfona-item h3". As well I had trouble with the [hardcoded inline CSS](https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItemTitle/index.jsx#L9), e.g. border: 0, I could figure something out by adjusting other CSS cla

[2016-06-07 11:00] fabarea commented on #79
Here would be some more precise use case for the Title Item:
![image](https://cloud.githubusercontent.com/assets/620730/15855405/9e9d63ce-2caf-11e6-8b99-2c79b71a7f72.png)

[2016-06-07 11:09] psimyn commented on #79
Awesome, thanks. I'll try to have a pass at this tonight, will depend on some other PRs though. Custom button or something in the title (I am assuming that is 'delete'?) is an interesting idea.

In the meantime, if just for the arrows you could use some CSS

[code]

[2016-06-07 11:14] fabarea commented on #79
Thanks. Yes, that's a delete action for now but it could / will be other actions coming for sure.

Ok for the arrows. I went with something exactly like that but didn't think of using ```content: url```, so 👍

[2016-07-22 13:14] p0o opened #80 "Issue with transitions on Safari"
I faced some weird animations on Safari 8.0.8 with MacOS. Digging into the DOM did show me that there is a max-height value for accordion-item-body which is adding up to something close to 100px on my click and then less than a second changes back to none. Any ideas?

![accordion-bug](https://cloud.githubusercontent.com/assets/11336468/17058122/33434268-5051-11e6-8ee2-9dfbdebdccea.gif)

[2016-07-22 14:00] psimyn commented on #80
thanks for reporting, and the GIF!

Seems like safari animates the switch to `max-height: none;` as if setting `max-height: 0` first; looks the same in 9 (testing in browserstack)

Made a demo here: http://codepen.io/psimyn/pen/zBWQjr

Hover to expand, then click (and hold) should cause flicker. The commented line of CSS in the pen is possibly an option (unset the animation when setting `max-heigh

[2016-07-22 14:45] p0o commented on #80
Yes, that's exactly what happened. Seems like Safari has a different interpretation of none value in `max-height`.

By the way, looking at the code it seems max-height is only used to keep the integrity of animations. Why not just calculate the `height` as it seems to work well with Safari as well.

[2016-07-23 02:10] psimyn commented on #80
I'll have a look at switching to height. Main advantage of using max-height is you can make it work without JS, but since nothing else does at the moment that doesn't seem worthwhile.

If you want to submit a PR for changing to height would be good, otherwise I'll have a look over the weekend

[2016-07-23 03:46] p0o commented on #80
Yes, give me so some time and I will try to figure it out today or tomorrow.

[2016-07-25 13:56] psimyn commented on #79
Just had a quick run at this, the change allows AccordionTitle `title` prop to be a string or a component. It keeps the default onClick so the Accordion still works, this means if you want other elements on there (e.g. the close/arrow icons above) you need to stop the event from propagating.

Here's an example of using it:

[code]

I'll try to clean up the onClick stuff a bit with this as well

[2016-08-01 02:05] akiroz opened #84 "Create new release based on #83"
The current latest release doesn't work in a module-less environment (i.e. included by a `<script>` tag) due to ReactDOM missing from webpack externals.
Would be nice to have a new release based on #83 so I could update my dependencies.

Thanks!

[2016-08-02 00:51] brukh commented on #84
hey @akiroz I pushed a updated release but need permission to publish to npm. Once I get access I will publish immediately. Thanks for being patient 😁

[2016-08-02 06:37] brukh commented on #84
@akiroz should be good to go! Let me know if you run into any issues 👍🏽

[2016-08-02 06:37] #84 closed

[2016-08-02 06:43] akiroz commented on #84
@brukh
mind tagging the new release on github as well?

[2016-08-02 06:51] brukh commented on #84
@akiroz will do! 😁

[2016-08-05 10:34] hannupekka commented on #79
I'd love this feature too 👍

[2016-08-29 16:00] #79 closed

[2016-08-31 13:33] Alorse commented on #80
Some progress on this issue?
Thank you very much.

[2016-09-09 05:14] hydr4n7 opened #85 "Cannot read property 'slug' of undefined"
Hi.
Got a problem with displaying accordion, no matter what I do I always end up with an : `Uncaught TypeError: Cannot read property 'slug' of undefined` . If I replace accordion with my own component everything goes smoothly. If I click second time on the link to faqs I got : `Uncaught TypeError: Cannot read property 'getHostNode' of null     -     ReactReconciler.js:64`
Anyone ?

[code]

[2016-09-09 05:39] psimyn commented on #85
your faqsList isn't returning any items. you need either a return statement, or change `{` to `(`

[code]

or

[code]

[2016-09-09 05:53] hydr4n7 commented on #85
I did that, and tons of other things. Nothing seems to be working. If I replace accordion with my own component its all alright.

[code]

FaqsItem.js component
[code]

[2016-09-17 05:01] mromanoff opened #89 "'onClosed' and 'onExpanded' should be 'onClose' and 'onExpand' methods names in documents"
Misleading docs method names
'onClosed' and 'onExpanded' should be renamed to 'onClose' and 'onExpand'

[2016-09-17 06:19] brukh commented on #89
Fixed! Thanks @mromanoff! 👍

[2016-09-17 06:19] #89 closed

[2016-09-19 12:06] mic3ael opened #90 "onExpand doesn't handle specific item"
onExpand doesn't return a key of accordion item, I want to know the slug key of expended accordion item.

I did it by my self just added to `accordionItem/index.js`

[code]

Now onExpand callback is running with slug value.

Could you add that to repo?
Thanks.

[2016-09-21 15:37] hyousuf opened #92 "uuid Unexpected character '#'"
I see this error when i try to compile my app on build machine.

Locally its fine

[2016-09-25 11:54] psimyn commented on #85
can you `console.log` the faqs in your above example? Otherwise if you can link to a runnable example I can take a look.

[2016-09-25 11:55] psimyn commented on #92
what is the build machine? OS / node version etc?

Are you trying to run `npm run build` or `dev` on the build machine

[2016-10-06 10:48] maxnowack commented on #80
I've submitted a PR (#93) which should fix this issue

[2016-10-31 23:24] sreevarsh opened #94 "Getting Uncaught Invariant Violation in console warning"
Hi,
I tried to use react-sanfona in my project but, getting the bellow warning in browser console

I followed the example that is in demo folder.
can you please let me know how to resolve this?

[2016-11-01 05:47] psimyn commented on #94
this is due to using uuid for rendering. I think we can probably change that to be conditional, then you specify your own ID for each accordionitem.

I'll try having a look this evening

[2016-11-04 14:33] alfredoreduarte opened #95 "'expanded' props is always false"
Is anyone having a problem with the `expanded` prop? It seems like it's always being overwritten to `false`.

[2016-11-06 19:51] brukh commented on #95
Can you please provide a code sample? @alfredoreduarte

[2016-11-06 20:04] brukh commented on #94
If you can please post some sample code that would be helpful! @sreevarsh

[2016-11-06 20:19] brukh commented on #90
Thanks for the contribution @mic3ael! I went ahead and implemented it. Should be available on the next release 👍

[2016-11-06 20:19] #90 closed

[2016-11-06 20:25] brukh commented on #85
I'm going to close this for now but if your issue isn't resolved please provide us with some code @hydr4n7 👍

[2016-11-06 20:25] #85 closed

[2016-11-06 20:26] #2 closed

[2016-11-06 23:48] gbenson-wikia commented on #95
I encountered this today as well.  Here's a sample:

[code]

[2016-11-06 23:55] psimyn commented on #95
it gets set based on the activeItems prop from the Accordion [here](https://github.com/daviferreira/react-sanfona/blob/master/src/Accordion/index.jsx#L74). That overrides the expanded prop

I think it's intended more for internal-use by `Accordion` - allowing it to be set could get a bit confusing. @alfredoreduarte did you have a use-case for wanting to set it? Otherwise might just remove it from

[2016-11-07 00:36] gbenson-wikia commented on #95
It might just be syntactic sugar, but if I've got the ability to have multiple items open simultaneously, it'd be nice to be able to specify which set of them are initially expanded in a more declarative way (as in the sample).  Though, I can see how that'd cause confusion and complicated edge cases.   ¯\_(ツ)_/¯

[2016-11-07 03:00] psimyn commented on #95
I think ORing it with activeItems could still make sense. But it might raise further questions. example:

[code]

[2016-11-09 00:47] sreevarsh commented on #94
Hi,
This is how I used the component
`<Accordion id="calReportAccordion" allowMultiple={true} activeItems={[0, 1]}>
{this.state.data.map((dat, i) => {
return (
<AccordionItem id="accordionid" onClose={() => this.hideType()} onExpand={() => this.showType()} title={title} slug={i} key={ch._id} allowMultiple={true} expanded={true}>
<Table>
.....
</Table>
</AccordionItem>)
}}
</Accordion>`

[2016-11-11 04:51] sreevarsh commented on #94
@brukh is there any possible solution for this issue? - Thanks

[2016-11-13 21:37] psimyn commented on #94
Generating the UUID in `componentDidMount` will get rid of the error, but doesn't quite fix the issue of needless first update. Made [a PR](https://github.com/daviferreira/react-sanfona/pull/99) with the simplest solution from this side - people set uuid themselves so we don't worry ourselves checking for uniqueness

https://github.com/facebook/react/issues/4000 is potentially worth keeping an eye

[2016-11-15 11:08] eric-burel commented on #85
Hi, I have the same `Uncaught TypeError: Cannot read property 'slug' of undefined`.
I'll try to send code to repro.

[2016-11-17 17:39] eric-burel commented on #85
Hi,
This actually happens when you autogenerate the `AccordionItem` :+1:

[code]

In the file `react-sanfona/src/Accordion/index.jsx` line 73, `item.props` is not defined.
I am not fluent in React, though I guess this is related to the fact that item can be either a `ReactElement` (with props) or a function (so with no `props`).

My React version : 15.3.2
My React-sanfona version : 0.0.15

[2016-11-17 17:49] eric-burel commented on #85
Okay I got it, your `arrayify` function seems incorrect, it does work when all children are of the same type (either `Object` or `Array`), but it does not work on a mix of objects and array (like in my previous sample).
For example :
[code]
and
[code]
both work, but not when we mix arrays and objects.

[2016-11-17 23:10] psimyn commented on #85
thanks @eric-burel ! Will look into a fix

[2016-11-20 18:29] zaros commented on #95
Same here. I'm trying to let my app remember which accordions a user had open since their last session.

[2016-11-23 15:17] yascov opened #101 "How to prevent default onClick over AccordionItem"
Hello,

Thank very much for your work.
is it possible to prevent onClick over AccordionItem title so users can click on buttons inside it?
This means I will control the expanded state.

Thank you

![screen shot 2016-11-23 at 3 13 09 pm](https://cloud.githubusercontent.com/assets/10214494/20567177/b7997ee8-b18f-11e6-9eb4-9305103d1b62.png)

[2016-11-25 11:13] psimyn commented on #101
One way currently is to pass a custom component as `title` prop, then add an onClick handler for buttons

[code]

I don't think you can currently prevent the outer `onClick` without capturing the event - that would be useful for managing the state outside of the component

[2016-11-30 16:39] smanwaring opened #102 "When the page with my accordion loads it defaults to open the first one"
When my accordion item loads it defaults to expanding the first item on the list. How can I prevent this (so that on load none of the accordion items are open)?

Thank you! I love this library otherwise :)

     <Accordion allowMultiple={false} onChange={this.onClickProject}>
                {projectLoop && projectLoop.map((instance, index) => {
                  const titleBar = (

[2016-11-30 17:12] chehitskenniexd commented on #102
So taking a look at the demo code, activeItems is set when creating the Accordian.
So if you do:

This will cause the Accordian to register none of the valid activeItems and it closes all of them by default!

[2016-11-30 17:17] smanwaring commented on #102
changing the activeItem={-1} on the Accordion solved the issue.

[2016-11-30 17:18] #102 closed

[2016-12-02 16:18] yascov commented on #101
Ok thank you. Got it.

[2016-12-20 07:57] JagdishUpadhyay opened #104 "Create new release based on #91"
Thanks for this great package.

Kindly publish new release based on [#91](https://github.com/daviferreira/react-sanfona/pull/91). So that we can use it for dynamic active items change

[2016-12-21 08:50] psimyn commented on #104
thanks for this great issue :D published 0.1

apologies for the lengthy delay!

[2016-12-21 08:50] #104 closed

[2016-12-21 08:53] psimyn commented on #94
@sreevarsh since 0.1 you can now pass uuid to each AccordionItem as a prop. You'll need to make sure the IDs you use are unique for all AccordionItems, but should be a simple way to fix server render for now

[2016-12-22 22:05] bsr203 opened #105 "snapshot testing"
There is an issue using this library with snapshot testing. The uuid created changes on each test run, and which is used as `id` and other attributes, so snapshot differs in each test run. Is there a way to make them deterministic, or a way to mock part of this library which varies on test run.

[code]

[2016-12-22 22:12] bsr203 commented on #105
just saw this https://github.com/daviferreira/react-sanfona/issues/94
I may have to start using custom ids then. will try.

[2016-12-22 22:21] bsr203 commented on #105
It worked with custom uuid prop. may worth noting in the docs.

[2016-12-22 22:21] #105 closed

[2017-01-10 20:54] sreevarsh commented on #94
Thank you @psimyn , It worked

[2017-01-11 12:42] luckyraul opened #107 "Null list item"
Cannot read property 'props' of null

https://github.com/daviferreira/react-sanfona/blob/master/src/Accordion/index.jsx#L73

[code]

[2017-01-11 21:20] sreevarsh opened #108 "With new version onClose event is triggering by itself"
Hi, I upgraded to latest version of react-sanfona(0.1.0) and my onClose and onExpand events are not working as expected, when I try to open an AccordionItem it closes by itself. below is the code snippet.
`<AccordionItem
id={"test"+c}
uuid={"test"+c}
onClose={() => this.hideItem(value)}
onExpand={() => this.showItem(value)}
title={value}
slug={c} key={id}
allowMultiple={true}
expanded={true}>`

Th

[2017-01-12 12:41] psimyn commented on #108
what are your hideItem/showItem functions doing? If I remember right the onExpand/onClose functions get called after clicking (so the items are already expanding).

Thanks for raising

[2017-01-12 12:47] psimyn commented on #107
Thanks! fixed in https://github.com/daviferreira/react-sanfona/commit/c76dda0142e7dad3fc3a01f3de63208c00716932

[2017-01-12 13:11] luckyraul opened #109 "AccordionItem breaks non latin characters inside"
```200,00 руб.``` transforms to ```200,00 &#8399;```

[2017-01-12 20:31] psimyn commented on #109
Do you have a complete example of this? Is `200,00 руб` set in the title or the body?

I tried in both of those and it displayed ok.

Thanks for raising

[2017-01-12 20:59] luckyraul commented on #109
I am sorry.
This was different back-end response for mobile view, where I use your component.
&#8399; equals ₽ in html

[2017-01-12 20:59] #109 closed

[2017-01-13 07:34] #107 closed

[2017-01-23 13:11] ivchenkodima commented on #80
@p0o Have you fix this issue?

[2017-02-16 21:18] bwbarron opened #110 "Getting "Uncaught Error: Element type is invalid" on render"
I'm getting this error on render
`Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render method of ...`

I'm importing it like this: `import { Accordian, AccordianItem } from 'react-sanfona';` and it seems as tho

[2017-02-16 21:20] bwbarron commented on #110
Turns out it was just a spelling error on my part.... should be AccordiOn. Luckily it was that simple.

[2017-02-16 21:20] #110 closed

[2017-02-16 22:07] bwbarron opened #111 "Trouble defaulting to closed Accordion with form components in AccordionItem"
Right now I just have a single `AccordionItem`:
[code]
I added the `activeItems={-1}` and it renders closed as expected. The problem is, when I expand it and click on a form component (right now there is only a single text field), it closes immediately. If I remove the `activeItems={-1}`, it renders opened, but I am able to click on the text field without the `AccordionItem` closing.

I am using v

[2017-03-09 12:01] luckyraul commented on #107
bump release please

[2017-03-16 23:16] SuttJ commented on #80
I'm still having this issue on Safari mobile.

[2017-03-20 17:32] daviferreira commented on #80
https://github.com/daviferreira/react-sanfona/commit/aa3224eff630e9aa8f9a4adb4a4610c0e28330cf

[2017-03-20 17:32] #80 closed

[2017-03-20 18:13] #94 closed

[2017-03-20 18:23] #92 closed

[2017-03-20 18:24] #101 closed

[2017-04-10 11:05] luckyraul opened #112 "Overflow breaks my app"
https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItem/index.jsx#L76

introduced in https://github.com/daviferreira/react-sanfona/pull/97

I can't move up anything from body to item header position.

It should be visible on expanded and hidden on opposite

[2017-04-10 11:33] #112 closed

[2017-04-17 19:27] cwhittl commented on #95
Having the same issue here, I just want to set an accordionitem expanded and the prop is completely ignored.

[2017-04-20 20:12] yuripramos opened #114 "Pass to title props a function"
Is there any way or idea in how to implement a function inside the <AccordionItem /> ?

Im thinking in some stuff like that:

I need to render a whole content as "title" or some way to load previous content before the accordion is clicked. I'm able to help you guys in this feature if there's no way to do this yet.

[2017-04-21 09:45] Alorse opened #115 "Do not open accordion when clicking on a title button."
I have a title that is composed of text and a button, I want when users click on the button, do not expand the accordion, since this is a link to another page.
This is possible?

Thank you very much.

[2017-04-22 19:53] SuttJ commented on #114
I don't believe there's a way to implement a function inside of title. However, if the reason you're using the function is to render a component, you can simply write the component directly in the title tag. Like this:
[code]

[2017-04-24 02:14] psimyn commented on #115
If you have a click handler on the button the you can call stopPropagation on the button. Otherwise you can store the state of the accordion yourself and update activeItems on click. I think there are examples of each

[2017-04-24 18:51] yuripramos commented on #114
I was trying to use [getter functions ](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/get) but without success, your solution are working for me, but idk why. The documentation says that this prop only accepts string and object.

[2017-04-26 13:32] #114 closed

[2017-04-26 13:35] yuripramos opened #116 "The collapse stop working according certain function"
Everything was great before I try to use a callback function inside the **onExpand** prop of this module. When I call another function inherited from the parent component, simply, out of blue, the accordion doesn't work anymore. And as test I deleted the snippet to check if the accordion back to work again, and it works! Let's go to the code to clarify it better.

**App.js**
[code]

**Materia.js**

[2017-04-29 12:29] horak opened #117 "AccordionItem closes after button click"
I have something like this.

[code]

Setting state within the handler closes all open accordions. Any ideas why?

[2017-05-04 13:12] psimyn commented on #117
Is the button within an AccordionTitle or inside of an item? do you have a more complete example?

[2017-05-04 13:28] #117 closed

[2017-05-04 13:32] psimyn commented on #116
If this is the same as https://github.com/daviferreira/react-sanfona/issues/117 it might be caused by the setState rather than the function call

There is an existing setState called in [handleExpand](https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItem/index.jsx#L50) - maybe something weird is going on there

[2017-05-05 13:40] horak commented on #117
Yup, that's the one, sorry about that.

[2017-06-17 01:07] Infinitism opened #121 "Using PropTypes"
Hi,

I see that the package is using PropTypes still and that practice has been deprecated in the newer versions of React. Thought I'd give a heads up on that.

-R

[2017-06-17 14:34] daviferreira commented on #121
https://github.com/daviferreira/react-sanfona/commit/071cc69f7e7fd5896feda63c240c428acd6cd9da

[2017-06-17 14:34] #121 closed

[2017-08-02 13:51] amitzur commented on #112
I'm not sure this is correct. With this change (PR #113) the content shows up broken during expand. Why should overflow be visible when expanding?

[2017-08-02 13:52] amitzur commented on #112
btw, the gh-pages branch still doesn't have this change and therefore works beautifully. When running the source code from master (or the npm package) it suddenly breaks.

[2017-08-02 18:02] project707 commented on #111
I am having the same problem on 0.2.3 where any activity in a form element in the content closes it, but I have not set activeItems at all (nor do i fully understand what that prop is for). Any idea how to stop this from happening?

[2017-08-02 18:11] project707 commented on #117
This kind of seems different to me in that this is closing accordions and in #116 it seems like the accordion functionality breaks, but maybe I'm misreading that?

[2017-08-14 10:03] isaacalves opened #122 "Animation duration, easing"
Any way to set animation duration and easing?

[2017-09-05 06:24] choosenvictim commented on #102
Hi, I am also facing the same issue. I have set ```activeItem={-1}``` ,but still accordion renders with first AccordionItem opened by default.
Here is my code:
[code]

[2017-09-05 07:11] choosenvictim commented on #102
Duhhhh !!!!
It should be ```activeItems```, and not ```activeItem```, since its a list and grammatically its plural. That solves my problem.
Its written properly in docs, but not here :)

[2017-09-05 07:27] choosenvictim commented on #108
I am also having the same issue. It works fine if I don't provide onClose and onExpand options to AccordionItem, but when I provide them, AccordionItem doesn't open at all.
Then I put debug points in onClose and onExpand callbacks and noticed that ```onClose``` is getting fired right after ```onExpand```

[2017-09-11 21:33] kkashou opened #123 "Form elements ..."
Is there a way to not have the accordion not close when I am clicking on form elements like a select option? Every time I click a header to open up and there is a select option element inside the content container, I try to click on it and the accordion then closes.

[2017-09-12 15:23] s-mikulich opened #124 "Click on form outside/into Accordion"
Hi, I have a problem. Accordion Item is opening If I click on input outside or inside of the Accordion.
Thanks.

[2017-09-13 00:11] kkashou commented on #124
+1

[2017-09-14 17:41] kkashou commented on #124
It seems to be looking at the onChange event ... just not sure how to bypass the onchange so that it doesn't listen to it.

[2017-09-19 11:36] daviferreira commented on #124
Can't really reproduce this, could you provide some example code?

[2017-09-19 11:36] daviferreira commented on #123
Dupe #124

[2017-09-19 11:36] #123 closed

[2017-09-19 11:51] daviferreira commented on #111
Dupe #124

[2017-09-19 11:51] #111 closed

[2017-09-19 16:19] kkashou commented on #124
I created an example to see what happens when you click on https://codesandbox.io/s/yp0kl7305j

Hopefully this helps with the issue I am dealing with.

[2017-09-19 17:18] daviferreira commented on #124
Just published 0.4.0 with a fix, can you test it please?

[2017-09-19 17:31] daviferreira commented on #124
https://github.com/daviferreira/react-sanfona/commit/cad25973545a9ce8b57f198ef1ee502fd007d52a

[2017-09-19 17:31] #124 closed

[2017-09-19 17:32] #115 closed

[2017-09-19 17:37] kkashou commented on #124
Thank you!

[2017-09-22 13:57] s-mikulich commented on #95
Hi, I have the same issue.

[2017-10-18 17:00] morgs32 commented on #112
Yea revert that!

[2017-10-20 18:49] timsmith339 commented on #95
The whole reason I went with this package was because I saw the expanded property.  Why would it not work?

[2017-10-21 09:24] Delapouite opened #125 "overflow always hidden when AccordeonItem has images"
Hello

https://github.com/daviferreira/react-sanfona/blob/master/src/AccordionItem/index.js#L89

I have an AccordeonItem with images inside, tooltips, and `<react-select>` components.
It used to work in version `0.0.15`. I've just updated to `0.0.4`. Because of the line above, the tooltips and the `<react-select>` are always truncated because of the overflow.

Is there any reason for forcing this

[2017-10-21 20:19] wawhal opened #126 "Manually expand Accordion Item"
Is there a way to manually expand an Accordion item?
I am actually using redux. And I tried doing something like
[code]
where someBoolean comes from the redux state.

Now when I click one of the elements from categorised array, the accordion item gets closed even though the value of `someBoolean` is true in the state. **My goal is to preserve the state of the accordion i.e. before clicking an elem

[2017-10-22 08:38] daviferreira commented on #112
Sorry, should be fixed on 0.4.2

[2017-10-22 08:39] daviferreira commented on #125
Should be fixed on 0.4.2

[2017-10-22 08:39] #125 closed

[2017-10-22 08:39] daviferreira commented on #126
Duplicate of #95

[2017-10-22 08:39] #126 closed

[2017-10-22 10:44] daviferreira commented on #95
Hey guys, I've just published `v1.0.0-rc2` that should address this issue. Could you please test it and see if everything is ok? PR is here if you feel like reviewing it :) https://github.com/daviferreira/react-sanfona/pull/127

Please notice that I've removed the `activeItems` prop altogether, so active state should now be handled only via `expanded` prop.

[2017-10-22 16:13] wawhal commented on #95
@psimyn It goes back to collapsed state even when you use the activeElements tag.
Refer to #126 for my problem in detail. I tried to achieve the same thing using this following code:
[code]
I am using redux. The variable `expandedIndex` comes from redux state. So when a state change happens after I click one of the elements from the array inside AccordionItem, and the component re-renders, all go

[2017-10-22 16:42] daviferreira commented on #95
@wawhal can you test with `1.0.0-rc3`? You will need to change your code to set the `expanded` prop on the items instead since I'm removing the `activeItems` prop. You can check this example: https://github.com/daviferreira/react-sanfona/blob/77d5cd01c82eb5c04984d6aacdcbe5234bdf8fc0/demo/index.js#L44

[2017-10-23 11:35] luckyraul commented on #112
@daviferreira may be you should update demo?

[2017-10-25 06:54] wawhal commented on #95
@daviferreira It works. Thanks for the help.

[2017-10-25 12:40] #95 closed

[2017-10-25 12:40] daviferreira commented on #122
You can now pass `duration` and `easing` as props to either `Accordion` or `AccordionItem`.

[2017-10-25 12:40] #122 closed

[2017-10-25 20:27] timsmith339 commented on #95
@daviferreira and @wawhal Thank you for fixing that, and wonderful package.

[2017-10-26 12:26] luckyraul opened #128 "Null AccordionItem"
Same bug as I fixed long time ago. https://github.com/daviferreira/react-sanfona/issues/107
1.0

Element of Accordion children array can be null and should be ignored.

https://github.com/daviferreira/react-sanfona/pull/129

[2017-10-26 13:37] luckyraul opened #130 "Add way to prevent to prevent from switching accordeons"
OnChange is only callback. You can't prevent from modifying state
#131

[2017-10-29 21:30] #108 closed

[2017-10-29 21:30] #116 closed

[2017-10-30 18:40] daviferreira commented on #128
https://github.com/daviferreira/react-sanfona/commit/6d8f34ebab699c73f0ce9abe4b77d99b314b195e

[2017-10-30 18:41] #128 closed

[2017-10-31 01:11] mromanoff opened #133 "Only one AccordionItem will error."
after updating package v0.4.0 to latest accordion stop working

if i use this code. Note only one item. it throws the error.
[code]

but if i use this hack. it works.
[code]

[2017-10-31 20:47] #133 closed

[2017-10-31 20:48] daviferreira commented on #133
Hey @mromanoff - thanks for reporting it! Should be fixed on `1.0.3`.

[2017-11-01 18:57] collapserage opened #134 "'Unique "key" prop' warning"
Started getting this warning with a simple accordion menu:

[code]

(it disappears after manually adding a key for these two items)

Works fine in 0.4.3 because key is generated from array index of children element here: https://github.com/daviferreira/react-sanfona/blob/cad25973545a9ce8b57f198ef1ee502fd007d52a/src/Accordion/index.js#L68-L71
I suppose this code could be brought back to fix this wa

[2017-11-01 20:54] #134 closed

[2017-11-20 13:12] giladl82 opened #138 "Server side rendering invalid checksum"
When using server side rendering, I get the following warning

Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Inst

[2017-12-27 17:47] mikeybags commented on #95
I feel like this might be related, but feel free to let me know if I should bring this up elsewhere. I am using this in conjunction with pagination (showing 10 accordionItems per page). When changing pages, if the first item of a page was open, the first item on the new page remains open. I tried setting a variable to false on page change (and use that variable for the expanded prop), but the acco

[2017-12-30 22:07] maasha opened #139 "How to add triangle icon to accordion header?"
It is a neat features of other accordions: A triangle prefixing closed accordion headers pointing right and which turns down upon opening the accordion with the same delay - and visa versa for closing the accordion. How can this be done?

[2017-12-30 22:22] maasha commented on #139
This will work for now. Suggestions for improvement welcome.

[code]

[2018-01-06 16:51] maasha opened #140 "Multiple accordions on one page screws up Accordion collapse duration"
I have multiple accordions on a page. Collapsing accordions sometimes skip the duration and happens instantly. Ideas?

[2018-02-09 11:52] depfu[bot] opened #141 "Depfu Error: Found neither *.gemspec nor Gemfile"
Hello,

We've tried to activate or update your repository on Depfu and found something odd:

Your repo neither contains a `*.gemspec` file, nor a `Gemfile`. If we were to guess, we would say that this is not actually a Ruby project and has probably been activated by error.

Please note that Depfu currently only searches for your dependencies in the root folder and therefore we currently don't supp

[2018-02-09 12:42] #141 closed

[2018-02-14 18:12] BeatDeer opened #160 "Can i Add HTML into title?"
I want to add my custom html icon
`<AccordionItem
              title={'Detalles de la Obra <div class="assets_pci pci_accordion_toggle"></div>'}
              className="accordeonDetails wrapper"
              style={styles.accordeonDetails}

But print the string.

[2018-02-21 13:23] abhn commented on #160
Create a new component with that HTML,

And you should be good.

[2018-02-21 13:25] abhn commented on #140
This used to happen (in my case) when the data inside the accordion was being fetched from an API. The lag made the accordion to skip the animation.

[2018-02-21 13:35] abhn opened #173 "max-height not getting removed after animation"
I tried looking for a fix to this issue and found that it has already been fixed in https://github.com/daviferreira/react-sanfona/pull/56

However, I'm still facing this issue where the content overflows and max-height to the body of react-safona prevents it from expanding to the required height.

Attaching the screenshot.

![image](https://user-images.githubusercontent.com/6270406/36482678-162d98

[2018-02-21 22:50] BeatDeer commented on #160
Thanks @abhn  I will try and tell you what happens... 🤞

[2018-02-24 10:09] daviferreira commented on #173
Hmm, can't really reproduce it. Could you provide a fiddle or something?

[2018-02-24 10:09] #160 closed

[2018-02-24 10:10] #139 closed

[2018-02-24 10:11] daviferreira commented on #138
@giladl82 Can you provide a fiddle/example? :)

[2018-02-24 10:11] #130 closed

[2018-02-24 10:14] daviferreira commented on #140
@maasha would be great if you could provide an example, but I guess we need some kind of `async` prop/flag to control that.

[2018-03-06 13:16] alex6633 opened #189 "onHover property"
Hi @daviferreira ,
Thank you so much for this wonderful library.
Is there something that I can do to achieve this requirement ?
Like "onExpand" and "onCollapse" props Can I also use "onHover" prop where in I can automatically expand or collapse my accordion onHover of it.. ?

[2018-03-14 13:52] alexeychikk opened #193 "overflow is always 'hidden' when accordion item has images"
Please, check these lines
https://github.com/daviferreira/react-sanfona/blob/417f141208c1c854c341ec8cc4c5891a9ad035ba/src/AccordionItem/index.js#L112-L115
I think this line
https://github.com/daviferreira/react-sanfona/blob/417f141208c1c854c341ec8cc4c5891a9ad035ba/src/AccordionItem/index.js#L114
must be replaced with
`overflow: expanded ? 'visible' : 'hidden'`
Or probably the problem is that compo

[2018-03-14 13:54] alexeychikk commented on #193
Anyone who is experiencing the same issue, as workaround you can replace img with div or something with inline background style.

[2018-03-15 12:14] abhn commented on #173
@daviferreira sorry, couldn't get back on this, and providing a fiddle was a little tricky as there was a lot of dynamic data flowing (plus even I couldn't reproduce it except for the first time after loading the page).

So the problem was that the content in the accordion body had some margin top and bottom, that wasn't getting picked up for the calculation of max-height, leading to things gettin

[2018-04-16 18:55] daviferreira commented on #193
@alexeychikk that's exactly the problem and you gave the solution already, don't you want to submit a PR? :)

[2018-04-17 23:08] benxgao opened #222 "Animation is not working while closing Itembody [occurs since version 1.2.1]"

[2018-04-20 18:51] #222 closed

[2018-04-20 18:53] #138 closed

[2018-04-20 18:55] daviferreira commented on #222
Good catch, thanks!

[2018-04-20 18:57] #193 closed

[2018-04-20 18:58] #140 closed

[2018-04-20 18:58] #173 closed

[2018-04-25 10:41] AzureDevOpsDemo opened #227 "Does it support Typescript"
Seems like typescript is not supported.

Can you please help with it.

[2018-08-14 02:05] okayu8 opened #295 "Is it possible to describe the accordion component and the accordion item component in different classes?"
I described the accordion component and the accordion item component in separate classes.
I code a class rendering the accordion item component in the accordion component. Then accordion did not expand.

Is it possible to write these in separate classes and use these components?

[2018-08-15 07:16] okayu8 opened #296 "Is there a way to hit the style well for accordion item components only?"
I would like to change the style of only the clicking part of the accordion without changing the content style after expanding the accordion.

However, coding to style propaty of the accordion component or the style property of the accordion item component does not work well.

Is there a good way to do it?

[2018-08-17 18:52] aelohin commented on #138
Hi, did you find a solution to this issue? I have it too. Everything works very well, once I do the changes to work the app with SSR then this issue is created.  I will try to create an online example but maybe you already know the answer.

Thanks!

[2018-08-17 19:43] giladl82 commented on #138
Hi,
I sorry to say I didn't find the solution to this problem.
I've neglected the project so I made no progress to resolve.
However, I've on next.js
It's a framework for server side rendering.
You might like to give it a try.

On Aug 17, 2018 21:52, "Alex Torres" <notifications@github.com> wrote:

Hi, did you find a solution to this issue? I have it too. Everything works
very well, once I do the c

[2018-08-22 09:41] Siregar opened #300 "How to implement jump to prev/next item"
👋
I want to implement two buttons inside the body, for jumping to the previous/next accordion item. Any tips?

[2018-09-01 16:14] #227 closed

[2018-09-01 16:15] daviferreira commented on #295
Hey @okayu8, can you provide a code example?

[2018-09-01 16:16] #296 closed

[2018-09-10 20:36] leonascimento commented on #189
@daviferreira Can I work on this feature?

[2018-09-11 06:13] daviferreira commented on #189
@leonascimento claro! 💪

[2018-09-11 13:46] #295 closed

[2018-09-24 12:20] vanoMekantsishvili commented on #79
@psimyn What you wrote it works perfeclty but when I put title component in another file then it won't and doesn't shows any error, any ideas :? :/

[2018-10-03 18:19] #189 closed

[2018-10-04 18:28] leonascimento opened #339 "Custom caret icon"
Hi @daviferreira, what do you think if the `react-sanfona` support a custom caret icon to indicate if the state of the tab is opened or hidden.

@gustavoFreireS is desiring implement this features. Do you approve this feature @daviferreira?

[2019-02-01 17:36] #339 closed

[2019-05-20 11:43] robwold opened #480 "Expanded prop not overriding state on re-render?"
I'm trying to use the Accordion to display a list of items, and when I click on an item to expand it the body is a form that allows the user to edit that item. Each form has a 'cancel edit' button that I want to collapse the expanded form.

From my console.log statements, it looks as if when I call my `resetItemsState` function, my component is getting re-rendered, and all items have the `isActive

[2019-06-20 18:08] pretentiousgit commented on #85
This also breaks if you have an undefined array that populates on a repeated load of content into that array.

[2019-07-31 15:13] kiromenegazzo opened #488 "Pass key for AccordionItem"
Hello! Thank you for your job, it is very useful for me. But I think it is a good idea to add the possibility to pass key for AccordionItem, because now it uses array index for key and it is not so good for performance.

[2019-09-03 07:58] reservce opened #490 "Solution to hide a new life cycle warning"
Hi, It keeps warning
`Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.`
since version 16.3.
Please update it, thanks a lot.

[2019-09-04 10:11] HaseemUlHaq opened #491 "AccordionItem shakes when entering text."
There is a form in Item, After entering any data to input field, Accordion tries to close and opens again which in result cause shake after every input.

[2019-10-24 14:05] mercteil opened #493 "Any plans to update the dependencies ?"
I see the package is running out of date with componentWillMount unsafe methods etc.

Are there any plans this package will be maintained specially in preparation for React 17... where unsafe methods aren't allowed without UNSAFE_ prefix anymore.

[2019-11-08 23:34] sherpadougs opened #494 "How create an Accordion with one item that starts collapsed?"
This feels like a really silly question, but I can't get it to happen. I've tried setting expanded= false in the AccordionItem as well as sending an empty array to Accordion, as well as a bunch of other things. I stuck a console.log in the node_modules for this telling me what expanded is, and it's always true, even though I've explicitly set it to false.

This is my code:

		<Accordion
			expande

[2019-11-11 15:46] sherpadougs commented on #494
After messing about in the code for a bit, I figured out that I needed to set `slug` in my props, not `key`. The documentation doesn't reflect this but it works fine this way, and the Accordion component checks the `slug` prop, defaulting to the index to create the key if it doesn't find it. I'd be happy to submit a PR if that would be helpful.

[2020-01-18 14:08] daviferreira commented on #493
Done :)

[2020-01-18 14:08] #493 closed

[2020-01-18 14:08] daviferreira commented on #494
Yes, please submit a PR :)

[2020-01-18 14:08] #494 closed

[2020-01-18 14:09] daviferreira commented on #490
Fixed in 1.5.0

[2020-01-18 14:09] #490 closed

[2020-01-18 14:09] daviferreira commented on #488
Hey @kiromenegazzo, would you be up for submitting a PR?

[2020-01-18 15:03] mercteil opened #498 "React 17 is going to deprecate UNSAFE lifecycle methods"
Are there any plans to refactor the package to use functional components or safe lifecycle methods ?

[2020-01-21 14:17] sherpadougs commented on #494
Well, it looks like the problem has been fixed since version 0.0.15, which my company is using. Forgot to check that part. oops :)

[2020-09-08 15:30] prathick opened #512 "Accordion with image gets revealed when you double click on the Accordion item"
When you double click on the accordion item, it collapses but the contents inside are still visible

[2021-02-22 03:37] tomassilgueira opened #517 "Close transition only works for the first time"
When you try to close the accordion more than one time, the transition doesn't work, it closes abruptly, no matters how much duration is setted

[2021-06-15 01:01] LukeVibes commented on #124
Has this issue been fixed? I have been dealing with issue all day and praying for a solution

[2021-06-15 01:26] LukeVibes opened #528 "Can't use <input> within AccordionItem"
Hello, I want to be able to have an <input> which is linked to useState() state. The moment I press a key my cursor escapes the <input> and I have to re-click it.

Example Code bellow.

Any help would be greatly appreciated.

[code]

[2021-06-21 12:40] LukeVibes commented on #480
I am seeing similar issues, were you able to find a solution?

[2022-05-24 18:26] danielweil commented on #227
????????????????????????????????????????????????????????????????/

[2022-08-10 04:11] appasaheb4 opened #539 "nested of Accordion then facing ui issue"
How to fix?
![Screenshot 2022-08-10 at 9 40 40 AM](https://user-images.githubusercontent.com/24726539/183813124-a12301e4-397b-477c-983a-416ec024ff1f.png)